.gameInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    color: var(--primary-color);
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
}