body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}

input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s;
}

input:hover,
input:focus {
  border: 2px solid #4f46e5;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

button {
  background-color: #4f46e5;
  /* Indigo-600 */
  color: #ffffff;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 0.5em;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #4338ca;
  /* Indigo-700 */
  transform: translateY(-2px);
}

button:active {
  background-color: #3730a3;
  /* Indigo-800 */
  transform: translateY(0);
}

/* Game */
.container {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
  justify-self: center;
}

.grid-item {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
}

.grid-item:hover {
  background-color: #ddd;
}

.score {
  color: #000;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  transition: transform 0.3s ease;
  animation: breathe 4s ease-in-out infinite;
}

.score:hover {
  transform: scale(1.1);
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

h1 {
  margin-bottom: 40px;
}